<div class="project-title">
  <h1><%= @project_presenter.name %></h1>
</div>

<div class="add-item">
  <%= link_to "Add New Item", new_project_item_path(@project) %>
</div>

<div class="project-statuses">

  <div class="status">
    <h2>Backlog</h2>
    <ul id="backlog">
      <% @project_presenter.backlogs.each do |item| %>
        <div class="item-container">
          <li>
            <%= item.title %><br>
            <%= item.description %>
          </li>
          <div class="arrow-container">
            <div class="right-arrow">
              <%= link_to "->", project_item_path(@project, item, format: "->"), method: :put %>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="status">
    <h2>Ready</h2>
    <ul id="ready">
      <% @project_presenter.ready.each do |item| %>
        <div class="item-container">
          <li>
          <%= item.title %></br>
          <%= item.description %>
          </li>
          <div class="arrow-container">
            <div class="left-arrow">
              <%= link_to "<-", project_item_path(@project, item, format: "<-"), method: :put %>
            </div>
            <div class="right-arrow">
              <%= link_to "->", project_item_path(@project, item, format: "->"), method: :put %>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
  </div>

  <div class="status">
    <h2>In Progress</h2>
    <ul id="progress">
      <% @project_presenter.in_progress.each do |item| %>
        <div class="item-container">
          <li>
            <%= item.title %><br>
            <%= item.description %>
          </li>
          <div class="arrow-container">
            <div class="left-arrow">
              <%= link_to "<-", project_item_path(@project, item, format: "<-"), method: :put %>
            </div>
            <div class="right-arrow">
              <%= link_to "->", project_item_path(@project, item, format: "->"), method: :put %>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
  
  <div class="status">
    <h2>Done</h2>
    <ul id="done">
      <% @project_presenter.done.each do |item| %>
        <div class="item-container">
          <li>
            <%= item.title %><br>
            <%= item.description %>
          </li>
          <div class="arrow-container">
            <div class="left-arrow">
              <%= link_to "<-", project_item_path(@project, item, format: "<-"), method: :put %>
            </div>
          </div>
        </div>
      <% end %>
    </ul>
  </div>

</div>
