<div class="project-title">
  <h1><%= @project.name %></h1>
</div>

<div class="add-item">
  <%= link_to "Add New Item", new_project_item_path(@project) %>
</div>

<div class="project-statuses">

  <div class="status">
    <h2>Backlog</h2>
    <ul id="backlog">
      <% @backlogs.each do |item| %>
        <li>
        <%= item.title %><br>
        <%= item.description %>
        </li>
        <p>
        <%= link_to "->", project_item_path(@project, item, format: "->"), method: :put %>
        </p>
      <% end %>
    </ul>
  </div>

  <div class="status">
    <h2>Ready</h2>
    <ul id="ready">
      <% @ready.each do |item| %>
        <li>
        <%= item.title %><br>
        <%= item.description %>
        </li>
      <% end %>
    </ul>
  </div>

  <h2 class="status">In Progress</h2>

  <h2 class="status">Done</h2>
</div>
