<div class="project-title">
  <%= link_to image_tag("waffle_logo.png", :alt => "Picture of circular waffle"), projects_path %>
  <h3><%= @project.name %></h3>
</div>

<div class="add-item">
  <%= link_to "Add New Item", new_project_item_path(@project) %>
</div>

<div class="project-statuses">
  <%= render 'shared/backlog' %>
  <%= render 'shared/ready' %>
  <%= render 'shared/in_progress' %>
  <%= render 'shared/done' %>
</div>
